---
import BaseLayout from '../layouts/BaseLayout.astro';
import Wf from '../components/Wf.astro';
import CtaGroup from '../components/CtaGroup.astro';
---
<BaseLayout title="指導方針">
  <Wf tag="Teaching vs Coaching（解き方でなく&quot;勉強のやり方&quot;を教える）"><p class="wf-note">図解予定</p></Wf>
  <Wf tag="1対4だからこそ：教わる時間と自分で考える時間"><p class="wf-note">自立する力</p></Wf>
  <Wf tag="基礎から積み上げ（中1最初の単元から抜け漏れなく）"><p class="wf-note">何年生から入っても</p></Wf>
  <Wf tag="CV"><CtaGroup /></Wf>
</BaseLayout>
